{% extends "core/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Çıkış Testlerim</h2>
    <a class="btn btn-theme-primary mb-3" href="{% url 'cikis_testi_create' %}">Yeni Test Oluştur</a>
    <ul class="list-group">
        {% for test in testler %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'cikis_testi_detail' test.id %}">{{ test.title }}</a>
                ({{ test.soru_sayisi }})
            </div>
            <a href="{% url 'cikis_testi_sil' test.id %}" class="btn btn-theme-secondary btn-sm">Testi Sil</a>
        </li>
        {% empty %}
        <li class="list-group-item">Henüz testiniz yok.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
